<?xml version="1.0" ?>
<config>
    <phpunit>
        <suite>
            <modules>
                <FireGento_PerfectWatermarks/>
            </modules>
        </suite>
    </phpunit>
    <modules>
        <FireGento_PerfectWatermarks>
            <version>0.3</version>
        </FireGento_PerfectWatermarks>
    </modules>
    <global>
        <models>
            <watermarks>
                <class>FireGento_PerfectWatermarks_Model</class>
            </watermarks>
            <catalog>
                <rewrite>
                    <product_image>FireGento_PerfectWatermarks_Model_Product_Image</product_image>
                </rewrite>
            </catalog>
        </models>
        <helpers>
            <watermarks>
                <class>FireGento_PerfectWatermarks_Helper</class>
            </watermarks>
        </helpers>
    </global>
    <default>
        <design>
            <watermark_adapter>
                <adapter>GD2</adapter>
                <thread_limit>1</thread_limit>
            </watermark_adapter>
        </design>
    </default>
</config>
