<?xml version="1.0" ?>
<config>
    <sections>
        <design>
            <groups>
                <watermark_adapter>
                    <label>Image Resize/Watermark Adapter</label>
                    <sort_order>399</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <adapter>
                            <label>Image Adapter</label>
                            <frontend_type>select</frontend_type>
                            <sort_order>10</sort_order>
                            <comment>Please choose your image adapter</comment>
                            <source_model>watermarks/source_image_adapter</source_model>
                            <backend_model>watermarks/system_config_adapter</backend_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </adapter>
                        <thread_limit>
                            <label>ImageMagick Thread Limit</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>20</sort_order>
                            <comment>Performance may sometimes be negatively impacted by &gt;1 threads.</comment>
                            <show_in_default>1</show_in_default>
                            <depends><adapter>IMAGEMAGIC</adapter></depends>
                        </thread_limit>
                    </fields>
                </watermark_adapter>
            </groups>
        </design>
    </sections>
</config>
