<?xml version="1.0" ?>
<config>
    <modules>
        <FireGento_PerfectWatermarks>
            <version>0.0.1</version>
        </FireGento_PerfectWatermarks>
    </modules>
    <global>
        <models>
            <firegento_perfectwatermarks>
                <class>FireGento_PerfectWatermarks_Model</class>
            </firegento_perfectwatermarks>
            <catalog>
                <rewrite>
                    <product_image>FireGento_PerfectWatermarks_Model_Product_Image</product_image>
                </rewrite>
            </catalog>
        </models>
    </global>
</config>
