<?xml version="1.0" ?>
<config>
    <phpunit>
        <suite>
            <modules>
                <FireGento_PerfectWatermarks/>
            </modules>
        </suite>
    </phpunit>
    <global>
        <models>
            <catalog>
                <rewrite>
                    <product_image>FireGento_PerfectWatermarks_Model_Product_Image</product_image>
                </rewrite>
            </catalog>
        </models>
    </global>
</config>
